*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/screenshots/chat.png
/screenshots/comments.jpg
/screenshots/feed.jpg
/screenshots/friends.png
/screenshots/home.jpg
/screenshots/profile.jpg
/screenshots/splash.jpg
/app/google-services.json
