*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/screenshots/chat.png
/screenshots/comments.jpg
/screenshots/feed.jpg
/screenshots/friends.png
/screenshots/home.jpg
/screenshots/profile.jpg
/screenshots/splash.jpg
/app/google-services.json
/app/src/main/assets/google-dev.json
api/.ofox.php.kate-swp
api/Ofox/images/.env
api/Ofox/images/.htaccess
api/a.png
api/admin_push.php
api/auth/.env
api/auth/.htaccess
api/auth/app_icon.png
api/auth/error_log.txt
api/auth/index.php
api/auth/register.php
api/auth/reset-password/index.php
api/auth/style.css
api/changelog.txt
api/chk.php
api/default_profile_photo.png
api/delete_log.html
api/error_log.txt
api/index.html
api/move.php
api/news.db
api/composer.json
api/fcm.php
api/moderate.php
api/news/upload_image.php
api/ofox/README.md
api/favicon.ico
api/news.php
api/ofox/friends_handler.php
api/ofox/news.db
api/ofox/profile_check.php
api/ofox/main_page.php
api/ofox/profile_update.php
api/ofox/profile_view.php
api/ofox/friend_request_handler.php
api/ofox-news.php
api/ofox.php
api/ofoxnews.db
api/send-test.php
api/send_notification.php
api/service-account.json
api/statistic/assets/app.js
api/statistic/assets/style.css
api/news/index.php
api/firebase_errors.log
api/composer.lock
api/delete_acc.php
api/statistic/index.php
api/upload_image.php
api/auth/reset-password/send.php
api/auth-bacup.zip
api/auth/reset-password/debug.log
run.sh
api/auth/debug.log
api/auth/action_handler.php
